<div class="modal-header">
    <div class="dataper">
      <h5 class="modal-title" >Registrate</h5>
    </div>
    
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      
  </div>
  <div class="modal-body" >
    <div id="dataper" class="dataper">
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="Registrar()">
      <div class="form-group">
        <label for="">Nombre completo</label>
        <input formControlName="nombre" name="nombre" type="text" class="form-control"  aria-describedby="nombreHelp">
        <small id="nombreHelp" class="form-text text-muted"></small>
      </div>
    <div class="form-group">
      <label for="InputEmail1">Correo electrónico</label>
      <input formControlName="correo" name="correo" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="InputPassword">Contraseña</label>
      <input formControlName="password" name="password" type="password" class="form-control" id="InputPassword">
    </div>
    <div class="form-group">
      <label for="fecha">Fecha de nacimiento</label>
      <input formControlName="nacimiento" name="nacimiento" type="date" class="form-control" id="fecha">
    </div> 
    <div class="form-group">
      <label for="inputState" class="form-label">Estatus</label>
      <select formControlName="estatus" id="inputState" class="form-select">
        <option value="0">[Elige una opcion]</option>
        <option value="1">ACTIVO</option>
        <option value="2">PENDIENTE ACTIVACIÓN</option>
        <option value="3">INACTIVO</option>
      </select>
    </div>   
    <div class="form-group">
      <label for="domicilio">Domicilio</label>
      <input formControlName="domicilio" name="domicilio" type="text" class="form-control" id="domicilio">
    </div>
    <div class="form-group">
      <label for="credito">Limite de credito</label>
      <input formControlName="credito" name="credito" type="number" class="form-control" id="credito">
    </div>
    <div class="row">
      <div class="col text-danger">
        <p *ngIf="Valida('nombre')">El nombre es obligatorio</p>
        <p *ngIf="Valida('correo')">El correo es obligatorio y tener un formato valido</p>
        <p *ngIf="Valida('password')">La contraseña es obligatoria</p>
        <p *ngIf="ValidaFecha()">La fecha de nacimiento es obligatoria y debe ser menor a la fecha actual</p>
        <p *ngIf="ValidaEstatus()">Debes elegir un estatus</p>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-9"></div>
      <div class="col-md-9">
        <input  id="guardar" type="submit" class="btn btn-primary" value="Guardar">
      </div>
    </div>
  </form>
  </div>
  
  </div>
  <div class="modal-footer">    
    <div class="dataper">
    
    </div>
  </div> 
