<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Estatus</th>
        <th scope="col">Limite de credito</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clienteList">
            <td>{{cliente.NombreCliente}}</td>
            <td>{{cliente.CorreoElectronico}}</td>
            <td>{{cliente.FechaNacimiento}}</td>
            <td>{{cliente.EstatusCliente}}</td>
            <td>{{cliente.LimiteCredito}}</td>
        </tr>      
    </tbody>
  </table>
    
